In [3]:
perros=np.array([['Bella','Labrador','Café',56,24,'2013-07-01'],
                 ['Charlie','Poodle','Negro',43,24,'2016-09-16'],
                 ['Lucy','chow chow','Café',46,24,'2014-08-25'],
                 ['Cooper','Schnauzer','Gris',49,17,'2011-12-11'],
                 ['Bernie','San Bernando','Blanco',77,74,'2018-02-27'],
                 ['Max','Chow chow','Blanco',45,28,'2019-03-27'],
                 ['Reed','Schnauzer','Negro',45,15,'2017-09-18']])
perros

array([['Bella', 'Labrador', 'Café', '56', '24', '2013-07-01'],
       ['Charlie', 'Poodle', 'Negro', '43', '24', '2016-09-16'],
       ['Lucy', 'chow chow', 'Café', '46', '24', '2014-08-25'],
       ['Cooper', 'Schnauzer', 'Gris', '49', '17', '2011-12-11'],
       ['Bernie', 'San Bernando', 'Blanco', '77', '74', '2018-02-27'],
       ['Max', 'Chow chow', 'Blanco', '45', '28', '2019-03-27'],
       ['Reed', 'Schnauzer', 'Negro', '45', '15', '2017-09-18']],
      dtype='<U12')

In [2]:
import numpy as np
import pandas as pd

In [5]:
df=pd.DataFrame(data=perros, columns=['Nombre','Raza','Color','Altura_cm','Peso_kg','Fecha_nac'])
df['Altura_cm']=df['Altura_cm'].astype(int)
df['Peso_kg']=df['Peso_kg'].astype(int)
df

    Nombre          Raza   Color  Altura_cm  Peso_kg   Fecha_nac
0    Bella      Labrador    Café         56       24  2013-07-01
1  Charlie        Poodle   Negro         43       24  2016-09-16
2     Lucy     chow chow    Café         46       24  2014-08-25
3   Cooper     Schnauzer    Gris         49       17  2011-12-11
4   Bernie  San Bernando  Blanco         77       74  2018-02-27
5      Max     Chow chow  Blanco         45       28  2019-03-27
6     Reed     Schnauzer   Negro         45       15  2017-09-18

In [8]:
# calculo de la media
df['Peso_kg'].mean()

'2011-12-11'

In [9]:
df['Fecha_nac'].min()

'2011-12-11'

In [10]:
# Funcion de agregacion estaditica
def percentil80(columna):
    return columna.quantile(0.80)

df['Altura_cm'].agg(percentil80)

54.60000000000001

In [11]:
df[['Altura_cm','Peso_kg']].agg(percentil80)

Altura_cm    54.6
Peso_kg      27.2
dtype: float64

In [13]:
def percentil90(columna):
    return columna.quantile(0.90)

df['Altura_cm'].agg([percentil80,percentil90])

percentil80    54.6
percentil90    64.4
Name: Altura_cm, dtype: float64

In [14]:
df['Altura_cm']

0    56
1    43
2    46
3    49
4    77
5    45
6    45
Name: Altura_cm, dtype: int32

In [16]:
df['Altura_cm'].cumsum()

0     56
1     99
2    145
3    194
4    271
5    316
6    361
Name: Altura_cm, dtype: int32

In [17]:
df['Altura_cm'].cummin()

0    56
1    43
2    43
3    43
4    43
5    43
6    43
Name: Altura_cm, dtype: int32

In [18]:
df['Raza'].value_counts()

Raza
Schnauzer       2
Labrador        1
Poodle          1
chow chow       1
San Bernando    1
Chow chow       1
Name: count, dtype: int64

In [19]:
df['Raza'].value_counts(normalize=True)

Raza
Schnauzer       0.285714
Labrador        0.142857
Poodle          0.142857
chow chow       0.142857
San Bernando    0.142857
Chow chow       0.142857
Name: proportion, dtype: float64

In [20]:
# resumir por grupo: mejor opcion
df.groupby('Color')['Peso_kg'].mean()

Color
Blanco    51.0
Café      24.0
Gris      17.0
Negro     19.5
Name: Peso_kg, dtype: float64

In [21]:
# resumen colores y peso

df.groupby('Color')['Peso_kg'].agg([min,max,sum])

C:\Users\benma\AppData\Local\Temp\ipykernel_5932\3345005457.py:3: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('Color')['Peso_kg'].agg([min,max,sum])
C:\Users\benma\AppData\Local\Temp\ipykernel_5932\3345005457.py:3: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('Color')['Peso_kg'].agg([min,max,sum])
C:\Users\benma\AppData\Local\Temp\ipykernel_5932\3345005457.py:3: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.groupby('Color')['Peso_kg'].agg([min,max,sum])

        min  max  sum
Color
Blanco   28   74  102
Café     24   24   48
Gris     17   17   17
Negro    15   24   39

In [22]:
df.groupby(['Color','Raza'])['Peso_kg'].mean()

Color   Raza
Blanco  Chow chow       28.0
        San Bernando    74.0
Café    Labrador        24.0
        chow chow       24.0
Gris    Schnauzer       17.0
Negro   Poodle          24.0
        Schnauzer       15.0
Name: Peso_kg, dtype: float64

In [25]:
# uso de tablas pivote
df.pivot_table(values='Peso_kg',index='Color',columns='Raza',fill_value= "-")

Raza   Chow chow Labrador Poodle San Bernando Schnauzer chow chow
Color
Blanco      28.0        -      -         74.0         -         -
Café           -     24.0      -            -         -      24.0
Gris           -        -      -            -      17.0         -
Negro          -        -   24.0            -      15.0         -

In [26]:
df.pivot_table(values='Peso_kg',index='Color',columns='Raza',fill_value= "-",margins=True,aggfunc=np.mean)

C:\Users\benma\AppData\Local\Temp\ipykernel_5932\2945376484.py:1: FutureWarning: The provided callable <function mean at 0x000001B25963EC00> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.pivot_table(values='Peso_kg',index='Color',columns='Raza',fill_value= "-",margins=True,aggfunc=np.mean)
C:\Users\benma\AppData\Local\Temp\ipykernel_5932\2945376484.py:1: FutureWarning: The provided callable <function mean at 0x000001B25963EC00> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.pivot_table(values='Peso_kg',index='Color',columns='Raza',fill_value= "-",margins=True,aggfunc=np.mean)
C:\Users\benma\AppData\Local\Temp\ipykernel_5932\2945376484.py:1: FutureWarning: The provided callable <function mean at 0x000001B25963EC00> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.pivot_table(values='Peso_kg',index='Color',columns='Raza',fill_value= "-",margins=True,aggfunc=np.mean)

Raza   Chow chow Labrador Poodle San Bernando Schnauzer chow chow        All
Color
Blanco      28.0        -      -         74.0         -         -       51.0
Café           -     24.0      -            -         -      24.0       24.0
Gris           -        -      -            -      17.0         -       17.0
Negro          -        -   24.0            -      15.0         -       19.5
All         28.0     24.0   24.0         74.0      16.0      24.0  29.428571