In [1]:
import sqlite3

In [2]:
type (sqlite3)

module

In [2]:
# Create a connection to the database

conn = sqlite3.connect('first.db')

In [3]:
# Test the connection
conn

In [4]:
# Create a cursor object
conn.cursor()

In [5]:
# 
cur = conn.cursor()

In [ ]:
# Create a table in the database
cur.execute ("""
    CREATE TABLE ice_cream_flavors (
        Id INTEGER PRIMARY KEY,
        Flavor TEXT,
        Rating INTEGER
           );
""")

In [9]:
# Insert data into the table
cur.execute("""
    INSERT INTO ice_cream_flavors (Flavor, Rating)
    VALUES ('Chocolate', 10),
           ('Vanilla', 7),
           ('Strawberry', 8.2);
""")
# Commit the transaction
conn.commit()

In [6]:
# Query the database
cur.execute("SELECT * FROM ice_cream_flavors")

In [7]:
# Fetch the results one at a time
cur.fetchone()
# Fetch the results all at once
cur.fetchall()

[(2, 'Vanilla', 7),
 (3, 'Strawberry', 8.2),
 (4, 'Arcoiris', 9),
 (5, 'Banana', 7.4),
 (6, 'Napolinato', 5.4)]

In [14]:
# Fetch the results one at a time using a for loop
# one print statement per row
cur.execute("SELECT * FROM ice_cream_flavors")
for row in cur:
    print(row)

(1, 'Chocolate', 10)
(2, 'Vanilla', 7)
(3, 'Strawberry', 8.2)

In [16]:
# Fetch the results by limiting the number of rows
cur.execute("SELECT * FROM ice_cream_flavors")
cur.fetchmany(2)

[(1, 'Chocolate', 10), (2, 'Vanilla', 7)]

In [ ]:
# Example of null excecution
cur.execute("SELECT * FROM ice_cream_flavors")
results = cur.fetchall()
results('Flavor')

TypeError: 'list' object is not callable

In [8]:
cur.row_factory = lambda cursor, row: dict(zip([col[0] for col in cursor.description], row))

In [9]:
cur.execute("SELECT * FROM ice_cream_flavors")
results = cur.fetchone()
results['Flavor']

'Chocolate'

In [10]:
results['Rating']

10

In [11]:
cur.execute("SELECT * FROM ice_cream_flavors")
results = cur.fetchall()
results

[{'Id': 1, 'Flavor': 'Chocolate', 'Rating': 10},
 {'Id': 2, 'Flavor': 'Vanilla', 'Rating': 7},
 {'Id': 3, 'Flavor': 'Strawberry', 'Rating': 8.2},
 {'Id': 4, 'Flavor': 'Arcoiris', 'Rating': 9},
 {'Id': 5, 'Flavor': 'Banana', 'Rating': 7.4},
 {'Id': 6, 'Flavor': 'Napolinato', 'Rating': 5.4}]

In [12]:
# Alternitive way to fetch the results by limiting the number of rows
cur.row_factory = sqlite3.Row
cur.execute("SELECT * FROM ice_cream_flavors")
results = cur.fetchall()
results

[<sqlite3.Row at 0x2778570d0f0>,
 <sqlite3.Row at 0x2778570d1b0>,
 <sqlite3.Row at 0x2778570f6d0>,
 <sqlite3.Row at 0x2778570e350>,
 <sqlite3.Row at 0x2778570f9a0>,
 <sqlite3.Row at 0x2778570f7f0>]

In [13]:
first_row = results[0]
print(first_row['Flavor'])
print(first_row['Rating'])

Chocolate
10

In [14]:
first_row = results[1]
print(first_row['Flavor'])
print(first_row['Rating'])

Vanilla
7

In [22]:
# Insert data into the table
cur.execute("""
    INSERT INTO ice_cream_flavors (Flavor, Rating)
    VALUES ('Arcoiris', 9),
           ('Banana', 7.4),
           ('Napolinato', 5.4);
""")
# Commit the transaction
conn.commit()

In [ ]:
# rollback the transaction before commiting

conn.rollback()

In [ ]:
# Insert data into the table using input
flavor = input("Introduzca un sabor: ")
rating = input("Introduzca una calificaci√≥n: ")
cur.execute(f"INSERT INTO ice_cream_flavors (Flavor, Rating) VALUES ('{flavor}', {rating});")
conn.commit()

In [16]:
# another way to insert data into the table using input
flavor = input("Introduzca un sabor: ")
rating = input("Introduzca una calificaci√≥n: ")
cur.execute(f"INSERT INTO ice_cream_flavors (Flavor, Rating) VALUES (?,?);", (flavor, rating))
conn.commit()

In [ ]:
# another way to insert data into the table
ice_cream_flavors = [
    ('Chocochips', 8),
    ('Menta',8.9)
]

In [18]:
cur.executemany("INSERT INTO ice_cream_flavors (Flavor, Rating) VALUES (?,?);",
                ice_cream_flavors)
conn.commit()

In [19]:
# Create a table in the database using a script
cur.executescript("""
                  CREATE TABLE IF NOT EXISTS toppings (
                    Id INTEGER PRIMARY KEY,
                    Name TEXT NOT NULL);
                    INSERT INTO toppings (Name) VALUES ('Chocolate Syrup'),
                    ('Sprinkles'),
                    ('Nuts');""")

In [20]:
conn.commit()

In [21]:
# database dump
for line in conn.iterdump():
    print(line)

BEGIN TRANSACTION;
CREATE TABLE ice_cream_flavors (
        Id INTEGER PRIMARY KEY,
        Flavor TEXT,
        Rating INTEGER
           );
INSERT INTO "ice_cream_flavors" VALUES(1,'Chocolate',10);
INSERT INTO "ice_cream_flavors" VALUES(2,'Vanilla',7);
INSERT INTO "ice_cream_flavors" VALUES(3,'Strawberry',8.2);
INSERT INTO "ice_cream_flavors" VALUES(4,'Arcoiris',9);
INSERT INTO "ice_cream_flavors" VALUES(5,'Banana',7.4);
INSERT INTO "ice_cream_flavors" VALUES(6,'Napolinato',5.4);
INSERT INTO "ice_cream_flavors" VALUES(7,'cacahuate',7.8);
INSERT INTO "ice_cream_flavors" VALUES(8,'Cereza',8.5);
INSERT INTO "ice_cream_flavors" VALUES(9,'Chocochips',8);
INSERT INTO "ice_cream_flavors" VALUES(10,'Menta',8.9);
CREATE TABLE toppings (
                    Id INTEGER PRIMARY KEY,
                    Name TEXT NOT NULL);
INSERT INTO "toppings" VALUES(1,'Chocolate Syrup');
INSERT INTO "toppings" VALUES(2,'Sprinkles');
INSERT INTO "toppings" VALUES(3,'Nuts');
COMMIT;

In [ ]:
# database dump to a file
_file = open('ice_cream_db_bump.sql', 'w')

for line in conn.iterdump():
    _file.write(f'{line}\n')
_file.close()

In [23]:
# database dump to a file using with
with open ('ice_cream_db_bump2.sql', 'w') as _file:
    for line in conn.iterdump():
        _file.write(f'{line}\n')

In [ ]:
# Another way to insert data into the table using with
# Context managers
with conn:
    conn.execute("INSERT INTO ice_cream_flavors (Flavor, Rating) VALUES (?,?);",
                 ('Caramel',5.3))

In [25]:
conn.execute("SELECT * FROM ice_cream_flavors LIMIT 4;").fetchall()

[(1, 'Chocolate', 10),
 (2, 'Vanilla', 7),
 (3, 'Strawberry', 8.2),
 (4, 'Arcoiris', 9)]

In [26]:
# Exit the connection
conn.close()